* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #121119;
}

input[type="text"] {
  outline: none;
}

.container {
  padding: 2rem;
  width: 960px;
  margin: auto;
}

/* 엑셀데이터 */
.excel_data {
  display: flex;
}

.excel_content {
  width: 400px;
  margin: 0.5rem;
}

.excel_items {
  display: flex;
}

.excel_item {
  font-size: inherit;
  text-align: center;
  color: white;

  margin: 0.5rem;
  width: 75px;
  padding: 0.5rem 0;

  background: none;
  border: none;
  border-bottom: 3px solid transparent;
}

.gradient_orange {
  border-image: linear-gradient(to right, #ef4766, #fbbd97);
  background-origin: border-box;
  border-image-slice: 1;
  background-clip: content-box, border-box;
}

.gradient_blue {
  border-image: linear-gradient(to right, #566db4, #4bc5d6);
  background-origin: border-box;
  border-image-slice: 1;
  background-clip: content-box, border-box;
}

.gradient_purple {
  border-image: linear-gradient(to right, #6e58a3, #ec6e74);
  background-origin: border-box;
  border-image-slice: 1;
  background-clip: content-box, border-box;
}

/* 그래프 부분 */
.chart_data {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  height: 350px;
}

.select_index {
  z-index: 5;
  position: absolute;
  right: 2rem;
  top: 2rem;

  color: white;
  outline: none;
  padding: 0.5rem;
  background-color: #121119;
  border-radius: 10px;
}

.select_option {
  padding: 0.5rem;
}

.chart_content {
  background-color: white;
}

/* 하단 데이터 */
.bottom_data {
  display: flex;
  justify-content: space-between;
}

.bottom_content {
  width: 400px;
  margin: 1rem;
  padding: 1rem;
}

.purchase_conversion {
  display: flex;
  padding: 1rem;
}

input[type="radio"] {
  padding: 0;
  outline: none;
  border: none;
}

.red {
  accent-color: #ef4766;
}