* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #121119;
  font-family: '나눔스퀘어', sans-serif;
}

input {
  outline: none;
  border: none;
  background: none;
  color: #ffffff;
  font-size: inherit;
}

/* body */
.header {
  padding: 1rem 0;
}

.main-title {
  background-color : #382c57;
}

.inner {
  width: 1280px;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date {
  margin-left: auto;
}

.setup-btn {
  margin-left: 1rem;
  font-size: 20px;
  cursor: pointer;
}

.container {
  padding: 1rem;
  margin: 1rem auto;
  width: 1280px;
}

.content-subtitle {
  font-size: 12px;
}

.content-wrap {
  width: 1280px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 엑셀데이터 */
.data-summary__content {
  width: 420px;
  margin: 0.5rem;
}

.data-summary__items {
  display: flex;
  margin: 12px;
}

.data-summary__item {
  width: 85px;
  padding: 12px;
  margin-right: 12px;
  font-size: 13px;

  color: white;
  background-color: #382c57;
}

.data-summary__item input {
  font-size: 20px;
}

/* 그래프 부분 */
.chart__content {
  width: 600px;
  margin: 0.5rem;
}

.chart {
  padding: 0 0.5rem;
  height: 300px;
}

.line-chart{
  width: 100%;
  height: 100%;
}

.bar-chart{
  width: 100%;
  height: 100%;
}

/* 주문빈도 */
#orderFrequency {
  position: relative;
}

.frequency-message {
  width: 450px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 14px;
}

.message {
  margin: 3px 0;
}
.message > input[type="text"] {
  display: inline-block;
  text-align: center;
  width: 70px;
  background-color: #382c57;
  border-radius: 4px;
  padding: 3px
}

/* 하단 데이터 */
.range__content {
  width: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#royalty-rise {
  position: relative;
}

.lock {
  position: absolute;
  z-index: 5;
  width: 230px;
  height: 230px;
  border-radius: 20px;
  background-color: #4f4b69b4;
}

.lock i {
  font-size: 35px;
}
.lock div{
  position: absolute;
  top: 50%;
  transform: translate(25%,-50%);
  text-shadow: 0 0 5px #ffffff;
  text-align: center;
}

#purchase-conversion, #royalty-rise {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 색상 관련*/
.gradient-bg_orange{
  background: linear-gradient(to bottom right, #ef4766, #fbbd97);;
}

.gradient-bg_blue{
  background: linear-gradient(to bottom right, #566db4, #4bc5d6);;
}

.gradient-border__orange {
  border-image: linear-gradient(to right, #ef4766, #fbbd97);
  background-origin: border-box;
  border-image-slice: 1;
  background-clip: content-box, border-box;
}

.gradient-border__blue {
  border-image: linear-gradient(to right, #566db4, #4bc5d6);
  background-origin: border-box;
  border-image-slice: 1;
  background-clip: content-box, border-box;
}

.gradient-border__purple {
  border-image: linear-gradient(to right, #6e58a3, #ec6e74);
  background-origin: border-box;
  border-image-slice: 1;
  background-clip: content-box, border-box;
}