.block {
  overflow: hidden;
}

.donut-chart-block {
  overflow: hidden;
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 100%;
  transform: scale(0.95);
}

.donut-chart .donut-center {
  background: #121119;
  border-radius: 50%;
  height: 70%;
  left: 15%;
  position: absolute;
  top: 15%;
  width: 70%;
}

.donut-center span {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.clip {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}

.item {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
}

#donut-section1 {
  transform: rotate(0deg);
}

#donut-section1 .item {
  transform: rotate(180deg);
  background-image: radial-gradient(circle, #ef4766 25%, #fbbd97);
}

#donut-section2 {
  transform: rotate(180deg);
}

#donut-section2 .item {
  background: #4b4e63;
  transform: rotate(180deg);
}

/*  slider */
.range-slider {
  display: inline-block;
  width: 35px;
  position: relative;
  text-align: center;
  height: 180px;
}
.range-slider__thumb {
  position: absolute;
  left: 7.5px;
  width: 20px;
  height: 20px;
  line-height: 30px;
  background: #ec6e74;
  box-shadow: 0px 0px 5px 5px rgba(236, 110, 116, 0.3);
  border-radius: 50%;
  pointer-events: none;
}
.range-slider__bar {
  left: 13px;
  bottom: 0px;
  position: absolute;
  pointer-events: none;
  width: 10px;
  border-radius: 10px;
}
.range-slider input[type=range][orient=vertical] {
  opacity: 0.5;
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
}
.range-slider input[type=range][orient=vertical]::-webkit-slider-runnable-track, .range-slider input[type=range][orient=vertical]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.range-slider input[type=range][orient=vertical]::-webkit-slider-runnable-track {
  border: none;
  width: 8px;
  border-radius: 10px;
}
.range-slider input[type=range][orient=vertical]::-moz-range-track {
  border: none;
  background: #343440;
  width: 8px;
  border-radius: 10px;
}
.range-slider input[type=range][orient=vertical]::-ms-track {
  border: none;
  background: #343440;
  width: 8px;
  border-radius: 10px;
  color: transparent;
  height: 100%;
}
.range-slider input[type=range][orient=vertical]::-ms-fill-lower, .range-slider input[type=range][orient=vertical]::-ms-fill-upper, .range-slider input[type=range][orient=vertical]::-ms-tooltip {
  display: none;
}
.range-slider input[type=range][orient=vertical]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  opacity: 0;
}
.range-slider input[type=range][orient=vertical]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  opacity: 0;
}
.range-slider input[type=range][orient=vertical]::-ms-thumb {
  width: 20px;
  height: 20px;
  opacity: 0;
}